{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}

<!-- <div class="container-xxl py-6">
  <div class="container">
    <div
      class="mx-auto text-center wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Fungsi Aplikasi</h1>
      <p class="mb-5"></p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="feature-item bg-light rounded text-center p-5">
          <i class="fa fa-4x fa-edit text-primary mb-4"></i>
          <h5 class="mb-3">Fully Customizable</h5>
          <p class="m-0">
            Mengunggah dan mengklasifikasikan gambar kain secara manual.
          </p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="feature-item bg-light rounded text-center p-5">
          <i class="fa fa-4x fa-sync text-primary mb-4"></i>
          <h5 class="mb-3">App Integration</h5>
          <p class="m-0">
            Penggunaan kamera untuk mengambil dan mengklasifikasikan gambar
            kain.
          </p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="feature-item bg-light rounded text-center p-5">
          <i class="fa fa-4x fa-draw-polygon text-primary mb-4"></i>
          <h5 class="mb-3">Drag And Drop</h5>
          <p class="m-0">
            Deteksi real-time menggunakan kamera untuk mengidentifikasi jenis
            kain secara langsung.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-xxl py-6" id="pricing">
  <div class="container">
    <div
      class="mx-auto text-center wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Tujuan Aplikasi</h1>
      <p class="mb-5">
        Tujuan utama aplikasi ini adalah untuk membantu pelestarian dan
        pengenalan kain tenun Karo. Dengan alat ini, pengguna dapat dengan mudah
        mengenali dan mempelajari jenis-jenis kain yang berbeda, membantu dalam
        pendidikan dan pelestarian budaya.
      </p>
    </div>
  </div>
</div>

<div class="container-xxl py-6" id="pricing">
  <div class="container">
    <div
      class="mx-auto text-center wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h1 class="mb-3">Cara Kerja Model SSD</h1>
      <p class="mb-5">
        Model SSD (Single Shot Detection) adalah model deep learning yang
        digunakan untuk deteksi objek. Model ini memproses gambar untuk
        mendeteksi dan mengklasifikasikan jenis kain dengan menggambar kotak
        batas di sekitar pola yang terdeteksi.
      </p>
    </div>
  </div>
</div>
{% endblock %}
