{% extends "base.html" %} {% block title %}Jenis Kain Karo{% endblock %} {%
block content %}
<div class="container-xxl bg-light my-6 py-5" id="overview">
  <div class="container">
    <div class="row g-5 py-5 align-items-center">
      <h1 class="offset-md-1 mb-3">Jenis-jenis Kain Karo</h1>
      <div class="offset-md-1 col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
        <img
          class="img-fluid rounded"
          src="static/images/uis_bekah_buluh.jpg"
        />
      </div>
      <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="d-flex align-items-center mb-4">
          <h1 class="mb-0">01</h1>
          <span class="bg-primary mx-2" style="width: 30px; height: 2px"></span>
          <h5 class="mb-0">UIS BEKAH BULUH</h5>
        </div>
        <p class="mb-4">
          Uis Bekah Buluh ialah sebuah kain yang ditandakan sebagai kebesaran
          seorang pria Karo. Dalam penggunaannya tidak semuanya dapat
          menggunakan uis ini, hanya orang orang tertentu yang dapat
          mengenakannya, orang yang layak menggunakannya ialah yang melakukan
          pesta tersebut. Uis ini biasanya dikenakan di pundak, atau juga bisa
          dijadikan sebagai penutup kepala, yang biasanya orang karo sebut
          bulang-bulang.
        </p>
      </div>
    </div>
    <div
      class="row g-5 py-5 align-items-center flex-column-reverse flex-lg-row"
    >
      <div class="offset-md-1 col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="d-flex align-items-center mb-4">
          <h1 class="mb-0">02</h1>
          <span class="bg-primary mx-2" style="width: 30px; height: 2px"></span>
          <h5 class="mb-0">UIS GATIP JONGKIT</h5>
        </div>
        <p class="mb-4">
          Uis Gatip Jongkit yaitu kain (uis) yang sering digunakan sebagai
          pakaian luar bagian bawah untuk laki-laki yang disebut gonje (sarung).
          Uis ini hanya digunakan oleh laki laki saja, dan biasanya digunakan
          pada saat pesta perkawinan, atau pesta adat kerja tahun.
        </p>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <img
          class="img-fluid rounded"
          src="static/images/uis_gatip_jongkit.jpg"
        />
      </div>
    </div>
    <div class="row g-5 py-5 align-items-center">
      <div class="offset-md-1 col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
        <img
          class="img-fluid rounded"
          src="static/images/uis_julu_diberu.jpg"
        />
      </div>
      <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="d-flex align-items-center mb-4">
          <h1 class="mb-0">03</h1>
          <span class="bg-primary mx-2" style="width: 30px; height: 2px"></span>
          <h5 class="mb-0">UIS JULU DIBERU</h5>
        </div>
        <p class="mb-4">
          Uis Julu Diberu merupakan kain (uis) yang digunakan oleh kalangan
          wanita suku Karo dan sifatnya membalut tubuh mulai dari bagian dada
          hingga ke pergelangan kaki. Umumnya jenis kain ini digunakan ketika
          menggunakan pakaian adat lengkap.
        </p>
      </div>
    </div>
    <div
      class="row g-5 py-5 align-items-center flex-column-reverse flex-lg-row"
    >
      <div class="offset-md-1 col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="d-flex align-items-center mb-4">
          <h1 class="mb-0">04</h1>
          <span class="bg-primary mx-2" style="width: 30px; height: 2px"></span>
          <h5 class="mb-0">UIS NIPES PADANG RUSAK</h5>
        </div>
        <p class="mb-4">
          Uis Nipes Padang Rusak ialah kain (uis) yang dipakai wanita karo
          sebagai selendang bahu pada pesta adat istiadat masyarakat karo. Pada
          zaman dulu, uis ini tidak hanya digunakan pada saat pesta adat, tapi
          juga sering digunakan dalam kehidupan sehari hari sebagai penghangat
          tubuh, dan juga hiasan tubuh, karena model dan warnanya yang cantik.
        </p>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <img
          class="img-fluid rounded"
          src="static/images/uis_nipes_padang_rusak.jpg"
        />
      </div>
    </div>
    <div class="row g-5 py-5 align-items-center">
      <div class="offset-md-1 col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
        <img
          class="img-fluid rounded"
          src="static/images/Uis_Kelam_Kelam.jpg"
        />
      </div>
      <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.5s">
        <div class="d-flex align-items-center mb-4">
          <h1 class="mb-0">05</h1>
          <span class="bg-primary mx-2" style="width: 30px; height: 2px"></span>
          <h5 class="mb-0">UIS KELAM KELAM</h5>
        </div>
        <p class="mb-4">
          Uis Kelam-Kelam merupakan kain tradisional (uis) yang digunakan dalam
          suasana duka cita, khususnya pada acara adat yang memperingati
          kemalangan. Uis ini memiliki ciri khas warna yang gelap, melambangkan
          kesedihan dan penghormatan terhadap suasana berduka. Uis ini umumnya
          dikenakan oleh perempuan dan diselempangkan di pundak sebagai tanda
          penghormatan dalam upacara adat terkait duka cita.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
